@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MatterRegular';
  src: url('/fonts/MatterRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MatterMedium';
  src: url('/fonts/MatterMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MatterSemiBold';
  src: url('/fonts/MatterSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'MatterRegular', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 8px);
  background-position-y: 5px;
}

.resize-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.5);
  cursor: se-resize;
  bottom: 0;
  right: 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%; 
  background: black;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
}